<!DOCTYPE html>
<html lang="{{ .Site.Language.Locale }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ .Title }} | {{ .Site.Title }}{{ end }}</title>
    {{ $style := resources.Get "css/main.css" | resources.Minify | resources.Fingerprint }}
    <link rel="stylesheet" href="{{ $style.RelPermalink }}">
</head>
<body>
    <header>
        <nav>
            <div class="site-logo"><a href="/">{{ .Site.Title }}</a></div>
            <ul>
                {{ range .Site.Menus.main }}
                <li><a href="{{ .URL }}">{{ .Name }}</a></li>
                {{ end }}
            </ul>
        </nav>
    </header>

    <main>
        {{ block "main" . }}{{ end }}
    </main>

    <footer>
        <p>{{ .Site.Params.footer }}</p>
    </footer>
</body>
</html>
